.muted {
  color: #9ca3af;
  font-size: 14px;
  margin-bottom: 10px;
}

ul {
  margin-top: 10px;
  padding-left: 18px;
}

ul li {
  margin-bottom: 5px;
  font-size: 14px;
}

.list li {
  margin-bottom: 8px;
}
